<?xml version="1.0" encoding="utf-8"?>
<packages>
<!-- The last nunit 3.x version that is packages in nuget compatible way, is  3.6.1  
error 'NUnit' already has a dependency defined for 'NETStandard.Library'.
	-->
 <package id="NUnit" version="2.6.4" targetFramework="net45" /> 
 <package id="NUnit" version="3.6.1" targetFramework="net45" /> 
</packages>